<div class="main">
  <div class="listadoAutos">
    <h1>Listado de autos registrados.</h1>

    <div *ngIf="!mostrarRegistro">
      <div class="boton-add">
        <button
          mat-raised-button
          type="button"
          color="primary"
          (click)="onClickNuevoAuto()"
        >
          Añadir auto
        </button>
      </div>

      <br />

      <div
        *ngIf="autos != undefined && paginaAuto != undefined"
        class="mat-elevation-z8"
      >
        <table mat-table [dataSource]="autos">
          <!-- Id Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>Id</th>
            <td mat-cell *matCellDef="let element">
              {{ element.id }}
            </td>
          </ng-container>

          <!-- Placa Column -->
          <ng-container matColumnDef="placa">
            <th mat-header-cell *matHeaderCellDef>Placa</th>
            <td mat-cell *matCellDef="let element">
              {{ element.placa }}
            </td>
          </ng-container>

          <!-- Modelo Column -->
          <ng-container matColumnDef="modelo">
            <th mat-header-cell *matHeaderCellDef>Modelo</th>
            <td mat-cell *matCellDef="let element">{{ element.modelo }}</td>
          </ng-container>

          <!-- Modelo Column -->
          <ng-container matColumnDef="chasis">
            <th mat-header-cell *matHeaderCellDef>Chasis</th>
            <td mat-cell *matCellDef="let element">{{ element.chasis }}</td>
          </ng-container>

          <!-- Color Column -->
          <ng-container matColumnDef="color">
            <th mat-header-cell *matHeaderCellDef>Color</th>
            <td mat-cell *matCellDef="let element">
              {{ element.color }}
            </td>
          </ng-container>

          <!-- idTipoAuto Column -->
          <ng-container matColumnDef="idTipoAuto">
            <th mat-header-cell *matHeaderCellDef>Tipo auto</th>
            <td mat-cell *matCellDef="let element">
              {{ getNombreTipoAuto(element.idTipoAuto) }}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
    </div>

    <div *ngIf="mostrarRegistro">
      <form
        class="login-form"
        [formGroup]="registroForm"
        (ngSubmit)="onClickRegistrarAuto()"
      >
        <mat-card>
          <mat-card-header>
            <mat-card-title>Registrar autos</mat-card-title>
            <mat-card-subtitle>Registre un nuevo vehículo </mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
            <p>
              <mat-form-field class="login-full-width" appearance="fill">
                <mat-label>Placa</mat-label>
                <input
                  type="text"
                  matInput
                  formControlName="placa"
                  [errorStateMatcher]="matcher"
                  placeholder="Número de placa"
                />

                <mat-hint>Ingrese un número de placa.</mat-hint>

                <mat-error
                  *ngIf="
                    registerFormControl['placa'].errors &&
                    registerFormControl['placa'].errors['required']
                  "
                >
                  El número de placa es obligatorio.
                </mat-error>
              </mat-form-field>
            </p>

            <p>
              <mat-form-field class="login-full-width" appearance="fill">
                <mat-label>Modelo</mat-label>
                <input
                  type="text"
                  matInput
                  formControlName="modelo"
                  [errorStateMatcher]="matcher"
                  placeholder="Modelo"
                />

                <mat-hint>Ingrese el modelo del vehículo.</mat-hint>

                <mat-error
                  *ngIf="
                    registerFormControl['modelo'].errors &&
                    registerFormControl['modelo'].errors['required']
                  "
                >
                  Ingrese el modelo del vehículo.
                </mat-error>
              </mat-form-field>
            </p>

            <p>
              <mat-form-field class="login-full-width" appearance="fill">
                <mat-label>Chasis</mat-label>
                <input
                  type="text"
                  matInput
                  formControlName="chasis"
                  [errorStateMatcher]="matcher"
                  placeholder="Chasis"
                />

                <mat-hint>Ingrese el número de chasis.</mat-hint>

                <mat-error
                  *ngIf="
                    registerFormControl['chasis'].errors &&
                    registerFormControl['chasis'].errors['required']
                  "
                >
                  El número de chasis es obligatorio.
                </mat-error>
              </mat-form-field>
            </p>

            <p>
              <mat-form-field class="login-full-width" appearance="fill">
                <mat-label>Color</mat-label>
                <input
                  type="text"
                  matInput
                  formControlName="color"
                  [errorStateMatcher]="matcher"
                  placeholder="Color"
                />

                <mat-hint>Ingrese el color del vehículo.</mat-hint>

                <mat-error
                  *ngIf="
                    registerFormControl['color'].errors &&
                    registerFormControl['color'].errors['required']
                  "
                >
                  Ingrese el color del vehículo.
                </mat-error>
              </mat-form-field>
            </p>

            <p>
              <mat-form-field class="login-full-width">
                <mat-label>Tipo de auto</mat-label>

                <mat-select formControlName="idTipoAuto">
                  <mat-option
                    *ngFor="let tipoAuto of tipoAuto"
                    [value]="tipoAuto.id"
                  >
                    {{ tipoAuto.tipo }}
                  </mat-option>
                </mat-select>

                <mat-hint>Seleccione el tipo de auto.</mat-hint>

                <mat-error
                  *ngIf="
                    registerFormControl['idTipoAuto'].errors &&
                    registerFormControl['idTipoAuto'].errors['required']
                  "
                >
                  Seleccione el tipo de auto.
                </mat-error>
              </mat-form-field>
            </p>
          </mat-card-content>
          <mat-card-actions class="btn-login">
            <div class="btn-login">
              <button mat-raised-button type="submit" color="primary">
                Guardar auto
              </button>

              <button
                mat-raised-button
                type="submit"
                color="secondary"
                (click)="onClickCancelarRegistro()"
              >
                Cancelar
              </button>
            </div>
          </mat-card-actions>
          <mat-card-footer class="mensaje-error">
            <div class="center">
              <p>{{ errorMsg }}</p>
            </div>
            <mat-progress-bar
              *ngIf="isLoading"
              mode="indeterminate"
            ></mat-progress-bar>
          </mat-card-footer>
        </mat-card>
      </form>
    </div>
  </div>
  <div class="registoAutos"></div>
</div>
